<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.da4_hethongtuoicay">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tuoicay_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tuoicay_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.DA4HETHONGTUOICAY"
        tools:targetApi="31">
        <activity
            android:name=".dang_nhap"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
    </application>
</manifest>